@model PMP.AppServices.DTO_s.ProjectDTO_s.ProjectOverviewDTO
@{
    ViewBag.Title = "ProjectPanel";
    var avatarPath = System.Configuration.ConfigurationManager.AppSettings["AvatarPath"];
}

@section StyleSheets{
    <link rel="stylesheet" href="~/assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/assets/css/pages/task-menu.css" />
    <link rel="stylesheet" href="~/assets/vendor/nestable/nestable.css" />
    <link rel="stylesheet" href="~/assets/vendor/html5sortable/sortable.css" />
    <link rel="stylesheet" href="~/assets/vendor/tasklist/tasklist.css" />
    <link href="~/assets/css/taskOverview.css" rel="stylesheet" />
    <link href="~/assets/vendor/alertify-js/alertify.css" rel="stylesheet" />
}

<div class="page-content container-fluid">
    <!--Page Header-->
    <div class="page-header  page-header-bordered">
        <div class="hidden project-id">@Model.Id</div>
        <h4 class="project-heading-title">@Model.Title</h4>
        <!--Header Actions-->
        <div class="page-header-actions">
            <div class="panel-action btn btn-primary toggle-project-settings" aria-label="Page Header Actions" role="group">
                <span>Project Overview</span>
                <span class="icon wb-chevron-down toggle-project-settings-icon" aria-hidden="true"></span>
            </div>
        </div>
        <!--End Header Actions-->
    </div>
    <!--End Page Header-->
    <!--Project Overview-->
    <div class="col-lg-12 col-md-12 project-settings" style="margin-top:-20px; display:none;">
        <div class="panel nav-tabs-horizontal">
            <div class="panel-body">
                <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                    <li class="active" role="presentation">
                        <a data-toggle="tab" href="#ProjectOverview"
                           role="tab">Project Overview</a>
                    </li>
                    <li class="active" role="presentation">
                        <a data-toggle="tab" href="#PeopleAssigned"
                           role="tab">People Assigned</a>
                    </li>
                    @if (Model.isAdmin)
                    {
                        <li role="presentation">
                            <a data-toggle="tab" href="#ProjectSettings"
                               role="tab">Project Settings</a>
                        </li>
                    }
                    <!--Dropdown menu for smaller screens-->
                    <li class="dropdown" role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <span class="caret"></span>Dropdown
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="active" role="presentation">
                                <a data-toggle="tab" href="#ProjectOverview"
                                   role="tab">Project Overview</a>
                            </li>
                            <li class="active" role="presentation">
                                <a data-toggle="tab" href="#PeopleAssigned"
                                   role="tab">People Assigned</a>
                            </li>
                            @if (Model.isAdmin)
                            {
                                <li role="presentation">
                                    <a data-toggle="tab" href="#ProjectSettings"
                                       role="tab">Project Settings</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
                <!--End Menu Tabs-->
                <!--Panel Content-->
                <div class="panel-body">
                    <div class="tab-content">
                        <!--Project overview panel-->
                        <div class="tab-pane active" id="ProjectOverview" role="tabpanel">
                            <div class="blue-600">Due Date:</div>
                            <div>
                                @if (Model.DueDate == null)
                                {
                                    <span>Due Date is not set</span>
                                }
                                else
                                {
                                    @Html.DisplayFor(x => x.DueDate)
                                }
                            </div>
                            <div class="blue-600">Project Description:</div>
                            <div>
                                <p>@Model.Description</p>
                            </div>
                        </div>
                        <!--People Assigned panel-->
                        <div class="tab-pane" id="PeopleAssigned" role="tabpanel">
                            <div class="blue-600 margin-bottom-15">Admin is marked with green circle on the avatar:</div>
                            @foreach (var user in Model.Users)
                            {
                                var admin = "";
                                if (user.isAdmin)
                                {
                                    admin = "avatar-online";
                                }
                                <div class="col-md-1">
                                    <span class="avatar @admin" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="@user.GetFullName()">
                                        <img class="my-avatar" src="@avatarPath/@user.Avatar" style="width:40px; height:40px;">
                                        <i></i>
                                    </span>
                                </div>
                            }
                        </div>
                        <!--Project Settings panel-->
                        @if (Model.isAdmin)
                        {
                            <div class="tab-pane" id="ProjectSettings" role="tabpanel">
                                <div class="col-md-4 block">
                                    <div class="blue-600">Change project Title:</div>
                                    <input type="text" class="form-control project-new-title" placeholder="New name...">
                                    <button class="btn btn-primary margin-top-10 change-project-title" type="button">Save Name</button>
                                </div>
                                <div class="col-md-4 block">
                                    <div class="blue-600">Change project description:</div>
                                    <textarea class="form-control" rows="1" style="resize: vertical;" placeholder="Drag bottom right corner for more space..."></textarea>
                                    <button class="btn btn-primary margin-top-10" type="button">Save</button>
                                </div>
                                <div class="col-md-4 block">
                                    <div class="blue-600">Change project due date:</div>
                                    <div class='input-group date'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="icon wb-time"></span>
                                        </span>
                                    </div>
                                    <div class="btn btn-primary margin-top-10">Save new date</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Project Overview-->
    <!--Tasks Menu-->
    <div class="col-lg-5 col-md-5">
        <div class="panel nav-tabs-horizontal">
            <!--Panel Heading-->
            <div class="panel-heading">
                <h3 class="panel-title">Tasks</h3>
                <div class="panel-actions">
                    <a class="panel-action" id="addTaskBtn" aria-hidden="true">
                        <i class="icon wb-plus"></i>   Add Task
                    </a>
                </div>
            </div>
            <!--Panel Heading-->
            <!--Menu Tabs-->
            <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                <li class="active" role="presentation">
                    <a data-toggle="tab" href="#All"
                       role="tab">All Tasks</a>
                </li>
                <li role="presentation">
                    <a data-toggle="tab" href="#Pending"
                       role="tab">Pending</a>
                </li>
                <li role="presentation">
                    <a data-toggle="tab" href="#InProgress"
                       role="tab">In Progress</a>
                </li>
                <li role="presentation">
                    <a data-toggle="tab" href="#Done"
                       role="tab">Done</a>
                </li>
                <!--Dropdown menu for smaller screens-->
                <li class="dropdown" role="presentation">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <span class="caret"></span>Dropdown
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="active" role="presentation">
                            <a data-toggle="tab" href="#All"
                               role="tab">All Tasks</a>
                        </li>
                        <li role="presentation">
                            <a data-toggle="tab" href="#Pending"
                               role="tab">Pending</a>
                        </li>
                        <li role="presentation">
                            <a data-toggle="tab" href="#InProgress"
                               role="tab">In Progress</a>
                        </li>
                        <li role="presentation">
                            <a data-toggle="tab" href="#Done"
                               role="tab">Done</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--End Menu Tabs-->
            <!--Panel Content-->
            <div class="panel-body">
                <div class="tab-content">
                    <!--All tasks panel-->
                    <div class="tab-pane active" id="All" role="tabpanel">
                        <div style="overflow-y: scroll; height: 500px;" class="scroll-container">
                            <ul class="list-group list-group-bordered">
                                @foreach (var task in Model.Tasks)
                                {
                                    var active = "";
                                    if (task == Model.Tasks.First())
                                    {
                                        active = "active";
                                    }
                                    <li class="list-group-item taskItem @active" style="border-radius:0px;">
                                        <span class="taskName">@task.Title</span>
                                        <span class="label label-@task.StatusColor pull-right">@task.Status</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!--Pending tasks panel-->
                    <div class="tab-pane" id="Pending" role="tabpanel">
                        <div style="overflow-y: scroll; height: 500px;" class="scroll-container">
                            <ul class="list-group list-group-bordered">
                                @foreach (var task in Model.Tasks)
                                {
                                    if (task.Status == "Pending")
                                    {
                                        <li class="list-group-item taskItem" style="border-radius:0px;">
                                            <span class="taskName">@task.Title</span>
                                            <span class="label label-danger pull-right">@task.Status</span>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <!--In Proggres Tasks panel-->
                    <div class="tab-pane" id="InProgress" role="tabpanel">
                        <div style="overflow-y: scroll; height: 500px;" class="scroll-container">
                            <ul class="list-group list-group-bordered">
                                @foreach (var task in Model.Tasks)
                                {
                                    if (task.Status == "InProgress")
                                    {
                                        <li class="list-group-item taskItem" style="border-radius:0px;">
                                            <span class="taskName">@task.Title</span>
                                            <span class="label label-warning pull-right">@task.Status</span>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <!--Done tasks panel-->
                    <div class="tab-pane" id="Done" role="tabpanel">
                        <div style="overflow-y: scroll; height: 500px;" class="scroll-container">
                            <ul class="list-group list-group-bordered">
                                @foreach (var task in Model.Tasks)
                                {
                                    if (task.Status == "Done")
                                    {
                                        <li class="list-group-item taskItem " style="border-radius:0px;">
                                            <span class="taskName">@task.Title</span>
                                            <span class="label label-success pull-right">@task.Status</span>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Panel Content-->
        </div>
    </div>
    <!--End Task Menu-->
    <!--Task Window-->
    <div class="col-lg-7 col-md-7 task-overview">
        @if (!Model.Tasks.Any())
        {
            @Html.Partial("../Partials/PanelPartials/_taskNotSelectedOverview")
        }
        else
        {
            @Html.Partial("../Partials/PanelPartials/_taskOverviewPanel", Model.Tasks.First())
        }
    </div>
    <!--End Task Window-->
</div>

@section PluginScripts{
    <script src="../../assets/vendor/masonry/masonry.pkgd.min.js"></script>
}
@section Scripts{
    <script type="text/javascript" src="~/assets/js/plugins/responsive-tabs.js"></script>
    <script type="text/javascript" src="~/assets/js/components/asprogress.js"></script>
    <script type="text/javascript" src="~/assets/vendor/nestable/jquery.nestable.js"></script>
    <script type="text/javascript" src="~/assets/js/components/tabs.js"></script>
    <script type="text/javascript" src="~/assets/vendor/html5sortable/html.sortable.min.js"></script>
    <script type="text/javascript" src="~/assets/js/components/html5sortable.min.js"></script>
    <script type="text/javascript" src="~/assets/js/components/tasklist.min.js"></script>
    <script src="~/assets/vendor/alertify-js/alertify.js"></script>
    @if (Model.Tasks.Any() && Model.isAdmin)
    {
        <script src="~/assets/js/taskOverview.js"></script>

    }
    @if (Model.isAdmin)
    {
        <script src="~/assets/js/panelOverview.js"></script>
    }
    <script src="~/assets/js/panel.js"></script>
}

