@model PMP.AppServices.DTO_s.AccountDTO_s.RegisterDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js before-run" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>Register</title>
    <link rel="apple-touch-icon" href="../../assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="../../assets/images/favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="../../assets/css/site.min.css">
    <link rel="stylesheet" href="../../assets/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="../../assets/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="../../assets/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="../../assets/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="../../assets/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="../../assets/vendor/flag-icon-css/flag-icon.css">

    <!-- Page -->
    <link rel="stylesheet" href="../../assets/css/pages/register.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="../../assets/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="../../assets/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <script src="../../assets/vendor/modernizr/modernizr.js"></script>
    <script src="../../assets/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="page-register layout-full">

    <div class="page animsition vertical-align text-center" data-animsition-in="fade-in"
         data-animsition-out="fade-out">
        <div class="page-content vertical-align-middle">
            <div class="brand">
                <img class="brand-img" src="../../assets/images/logo.png" alt="...">
                <h2 class="brand-text">PMP</h2>
            </div>
            <p>Sign up</p>
            @if (ViewBag.Error != null)
            {
                <div>@ViewBag.Error</div>
            }
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false)
                <div class="form-group">
                    @Html.LabelFor(x => x.FirstName, new { @class = "sr-only" })
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "First Name" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.LastName, new { @class = "sr-only" })
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Last Name" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Username, new { @class = "sr-only" })
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Email, new { @class = "sr-only" })
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Password, new { @class = "sr-only" })
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.ConfirmPassword, new { @class = "sr-only" })
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.File, new { type = "file", placeholder="Profile Picture"})
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            }
            <p>Have account already? Please go to <a href="@Url.Action("Login","Account")">Sign In</a></p>
            <footer class="page-copyright">
                <p>Application by Nakevski Toni</p>
                <p>© 2015. All RIGHT RESERVED.</p>
            </footer>
        </div>
    </div>
    <!-- End Page -->
    <!-- Core  -->
    <script src="../../assets/vendor/jquery/jquery.js"></script>
    <script src="../../assets/vendor/bootstrap/bootstrap.js"></script>
    <script src="../../assets/vendor/animsition/jquery.animsition.js"></script>
    <script src="../../assets/vendor/asscroll/jquery-asScroll.js"></script>
    <script src="../../assets/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="../../assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
    <script src="../../assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    <!-- Plugins -->
    <script src="../../assets/vendor/switchery/switchery.min.js"></script>
    <script src="../../assets/vendor/intro-js/intro.js"></script>
    <script src="../../assets/vendor/screenfull/screenfull.js"></script>
    <script src="../../assets/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="../../assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
    <!-- Scripts -->
    <script src="../../assets/js/core.js"></script>
    <script src="../../assets/js/site.js"></script>
    <script src="../../assets/js/sections/menu.js"></script>
    <script src="../../assets/js/sections/menubar.js"></script>
    <script src="../../assets/js/sections/sidebar.js"></script>
    <script src="../../assets/js/configs/config-colors.js"></script>
    <script src="../../assets/js/configs/config-tour.js"></script>
    <script src="../../assets/js/components/asscrollable.js"></script>
    <script src="../../assets/js/components/animsition.js"></script>
    <script src="../../assets/js/components/slidepanel.js"></script>
    <script src="../../assets/js/components/switchery.js"></script>
    <script src="../../assets/js/components/jquery-placeholder.js"></script>
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
</body>
</html>