@model PMP.AppServices.DTO_s.TaskDTO_s.TaskOverViewDTO
@{
    var avatarPath = System.Configuration.ConfigurationManager.AppSettings["AvatarPath"];
}
<div class="panel nav-tabs-horizontal task-control-panel">
    <div class="panel-heading">
        <div class="hidden task-user-role">@Model.UserRole</div>
        <div class="hidden task-id">@Model.Id</div>
        <h3 class="panel-title"><span id="taskTitle">@Model.Title</span> - <span class="blue-600 font-size-16 task-due-date">Due Date:  @Html.DisplayFor(x => x.DueDate)</span></h3>
        <!--Task Tabs-->
        <ul class="nav nav-tabs nav-tabs-line" data-plugin="nav-tabs" role="tablist">
            <li class="active" role="presentation">
                <a data-toggle="tab" href="#taskOverview"
                   role="tab">Task Overview</a>
            </li>
            <li role="presentation">
                <a data-toggle="tab" href="#taskSettings"
                   role="tab">Task Settings</a>
            </li>
            <li role="presentation">
                <a data-toggle="tab" href="#taskComments" role="tab">
                    Task Comments
                </a>
            </li>
            <li role="presentation">
                <a data-toggle="tab" href="#taskLogs"
                   role="tab">Task Logs</a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <!--Panel Content-->
        <div class="panel-body">
            <div class="tab-content">
                <!--Task Overview-->
                <div class="tab-pane active" id="taskOverview" role="tabpanel">
                    <!--Assigned people on the task-->
                    <div class="row assigned-users-task">
                        @foreach (var user in Model.Users)
                        {
                            <div class="col-md-1">
                                <span class="avatar" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="@user.GetFullName()">
                                    <img src="@avatarPath/@user.Avatar" style="width:40px; height:40px" />
                                </span>
                            </div>
                        }
                    </div>
                    <!--End of assigned pepople on the task-->
                    <!--Subtasks List-->
                    <div style="margin-top:20px">
                        <button type="button" class="btn btn-outline btn-info btn-small addSubtask margin-bottom-10" data-target="#addSubtaskModal" data-toggle="modal">
                            <i class="icon wb-plus"></i>
                            <span class="hidden-xs">Add Subtask</span>
                        </button>
                        <div class="scroll-container" style="overflow-y:scroll; height:400px">
                            <ul class="list-task list-group list-group-bordered sortable subtasks" data-role="tasklist" data-plugin="sortable">
                                @foreach (var subtask in Model.Subtasks)
                                {
                                    var subtaskDone = "";
                                    var checkbox = "";
                                    if (subtask.Status == true)
                                    {
                                        subtaskDone = "task-done";
                                        checkbox = "checked";
                                    }
                                    <li class="list-group-item @subtaskDone" data-role="task">
                                        <div class="checkbox-custom checkbox-primary">
                                            <input type="checkbox" id="checkBox-@subtask.Id" name="inputCheckboxesCall" class="check-subtask-done" @checkbox>
                                            <label for="checkBox-@subtask.Id">
                                                <span>@subtask.Title</span>
                                            </label>
                                            <i class="icon wb-trash subtaskDeleteBtn subtask-action-button" id="deleteSubtaskBtn-@subtask.Id"></i>
                                            <span class="icon wb-list subtask-action-button subtask-overview-btn" id="subtask-overview-@subtask.Id" data-toggle="modal" data-target="#subtaskOverviewModal"></span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!--End of Subtasks List-->
                    <p>Task Description:</p>
                    <p>
                        @Model.Description
                    </p>
                </div>
                <!--Task Settings-->
                <div class="tab-pane" id="taskSettings" role="tabpanel">
                    <div class="row group">
                        <input class="form-control task-change-title-input" type="text" placeholder="Add new name for the current task..." />
                        <div class="btn btn-primary margin-top-10 task-change-title-btn">Save new name</div>
                    </div>
                    <hr />
                    <div class="row group">
                        <div>
                            <span>Current task status: <span class="task-current-status">@Model.Status</span></span>
                        </div>
                        <div class="form-group">
                            <label for="sel1">Select new status:</label>
                            <select class="form-control task-change-status-input">
                                <option>Pending</option>
                                <option>InProgress</option>
                                <option>Done</option>
                            </select>
                        </div>
                        <div class="btn btn-primary margin-top-10 task-change-status-btn">Change task status</div>
                    </div>
                    <hr />
                    <div class="row group">
                        <label for="taskDatetimePicker">
                            <span>Select new due date and click on the save button to change it</span>
                        </label>
                        <div class='input-group col-md-8 date datetimepicker' id="taskDateChange">
                            <input type='text' class="form-control task-change-date-input" />
                            <span class="input-group-addon">
                                <span class="icon wb-time"></span>
                            </span>
                        </div>
                        <div class="btn btn-primary margin-top-10 task-change-date-btn">Save new date</div>
                    </div>
                    <hr />
                    <div class="row group">
                        <div>
                            <span>Currently working on task: @Model.Users.Count() Users</span>
                        </div>
                        <div class="btn btn-primary margin-top-10 assign-to-task-modal" data-toggle="modal" data-target="#assignToTaskModal">Assign to task</div>
                    </div>
                    <hr />
                    <div class="row group">
                        <div>
                            <span>Delete Task @Model.Title</span>
                        </div>
                        <div class="btn btn-danger btn-outline margin-top-10 task-delete-btn">Delete Task</div>
                    </div>
                    <hr />
                </div>
                <!--Task Comments-->
                <div class="tab-pane" id="taskComments">
                    <form class="comment-reply" action="#">
                        <div class="form-group">
                            <textarea class="form-control comment-text-area" rows="5" placeholder="Comment here"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary add-comment" type="button">Leave Comment</button>
                        </div>
                    </form>
                    <div style="overflow-y:scroll; height: 400px;" class="scroll-container">
                        <ul class="list-group list-group-gap comment-list">
                            <li class=" list-group-item bg-blue-grey-100">
                                <div class="comment media">
                                    <div class="media-left">
                                        <div class="avatar avatar-sm">
                                            <img src="../../assets/portraits/2.jpg" />
                                        </div>
                                    </div>
                                    <div class="comment-body media-body media-left">
                                        <div class="comment-author">June Lane</div>
                                        <div class="comment-meta">
                                            <span class="date">9/18/2015</span>
                                        </div>
                                        <div class="comment-content">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ips
                                                um has been the industry's standard dummy text ever since the 1500s, when an unknown pri
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Task Logs-->
                <div class="tab-pane scroll-container" id="taskLogs" role="tabpanel" style="overflow-y:scroll; height: 400px;">
                    <ul class="list-group list-group-gap task-logs">
                        @foreach (var log in Model.Logs)
                        {
                            <li class='list-group-item bg-blue-grey-100 task-logs-item'>
                                <p class='list-group-item-heading font-size-16'>@log.User.FirstName</p>
                                <p class='list-group-item-text'>@log.LogDescription</p>
                                <p>@log.DateCreated</p>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!--End Panel Content-->
    </div>
</div>
<div class="modal fade" id="addSubtaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModal">
    <div class="modal-dialog modal-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Please enter subtask name</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" id="newSubtaskTitle" placeholder="Subtask Title" style="width:300px" required />
                </div>
                <div class="form-group">
                    <label for="newSubtaskDescription">Enter Subtask Description</label>
                    <textarea class="form-control" id="newSubtaskDescription" style="resize: vertical;" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveSubtaskBtn">Add Subtask</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="subtaskOverviewModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModal">
    <div class="modal-dialog modal-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Subtask Overview</h4>
            </div>
            <div class="modal-body">
                <div class="subtask-overview-description"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Assing Pepople to task modal-->
<div class="modal fade" id="assignToTaskModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">List of available people to assing</h4>
                <h5 class="blue-600">Click on user to select</h5>
            </div>
            <div class="modal-body">
                <div class="scroll-container" style="overflow-y:scroll;height:500px">
                    <ul class="list-group list-group-dividered user-to-assign-list-task"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary assing-task-btn">Assign</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
